/* Text colors */
.text-primary {
    color: #081049;
}

.text-secondary {
    color: #558ed5;
}



/* Button */
.btn {
    cursor: pointer;
    display: inline-block;
    padding: 10px 30px;
    color: #fff;
    background-color: #558ed5;
    border: none;
    border-radius: 5px;
    opacity: 0.9;
}

.btn:hover {
    opacity: 0.9;

}

.btn-primary, .bg-primary {
   background: #081049;
   color: #fff;
}
.btn-secondary, .bg-secondary {
   background: #558ed5;
   color: #fff;
}
.btn-dark, .bg-dark {
   background: #05396c;
   color: #fff;
}
.btn-light, .bg-light {
   background: #f4f4f4;
   color: #333;
}

.btn-outline {
    background: transparent;
    border: 1px solid #fff;
    margin: 20px 20px;
}
.btn-outline:hover{
    background: #081049;
    border-radius: 20px;
}

/* Flex items */
.flex-items {
    display: flex;
    text-align: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}

.flex-items > div {
    padding: 20px;
}

/* Flex columns */
.flex-columns.flex-reverse .row {
    flex-direction: row-reverse;
}

.flex-columns .row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.flex-columns .column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.flex-columns .column .column-1,
.flex-columns .column .column-2 {
    height: 100%;
}

.flex-columns img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.flex-columns .column-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 30px;
}

.flex-columns h2 {
    font-size: 40px;
    font-weight: 100;
}

.flex-columns h4 {
    margin-bottom: 10px;
}

.flex-columns p {
    margin: 20px 0;
}

/* Section header */
.section-header {
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.section-header h2 {
    font-size: 40px;
    margin: 20px 0;
}

.section-padding {
    padding: 20px 20px 40px;
}

/* Flex grid */
.flex-grid .row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
}

.flex-grid .column {
    flex: 25%;
    max-width: 25%;
    padding: 0 4px;
}

.holding-container{
    display: flex;
    flex-direction: row;
    width: 0px;
    height: 100%;
    animation: animate1 2.5s forwards 0.5s ease-in-out;
    /* padding-bottom: 20px; */
    /* flex-wrap: wrap; */
}

@keyframes animate1{
    from{
        width: 0;
    }
    to{
        width: 100%;
    }
}

.holding-container.member{
    margin-bottom: 40px;
}


.holding-container .internalcontainerL{
    flex:1;
    object-fit: cover;
    padding-top: 100px;
    width: 100%;
}

.holding-container .internalcontainerR img{
    width: 300px
}
.holding-container .internalcontainerL img{
    width: 550px;
}
.holding-container .internalcontainerR{
    flex: 1;
    object-fit: cover;
    width: 100%;
    padding-top: 100px;
}

.holding-container .internalcontainerL,
.holding-container .internalcontainerR{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.holding-container .box-1,
.holding-container .box-2{
    justify-content: center;
    align-items: center;
    margin: auto;
    text-align: start;
}

.holding-container .box-1{
    text-align: center  ;
    width: 100%;
    /* padding-left: 30px; */
}

.holding-grid{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #05396c;
    color: #fff;
    /* padding-bottom: 20px; */
    /* flex-wrap: wrap; */
}

.holding-grid img{
    margin-top: 50px;
    width: 70%;
}

.holding-grid .row-1{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.holding-grid .row-1 .input-group{
    flex-basis: 48%;
}

.holding-flex{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: #333;
    padding:30px;
}

.holding-flex h1{
    color: #558ed5;
    padding: 20px 10px 0 10px;
    font-weight: 700;
    margin-bottom: 20px;

}

.holding-flex h2{
    color: #333;
    padding:5px 10px 0 10px;
    font-weight: 700;
}

.ns-container{
    display: flex;
    /* flex-wrap: wrap; */
    width: 100%;
    height: 100%;
    text-align: start;
    justify-content: center;
    align-items: center;
}

.ns-container .box-2 h1{
    margin-left: 2.1rem;
    font-weight:500;
    color: cornflowerblue;
}
.ns-container .box-1{
    width: 50%;
    text-align: center;
}
.ns-container .box-1 img{
    width: 400px;
    margin-left: 50px;
}
.ns-container h1{
    color: cornflowerblue;
    font-weight: 400;
    padding-left: 15px;
    letter-spacing: .2rem;
}
.ns-container .box-1 img{
    width: 400px;
    border-radius: 20%;
    padding:20px
    
}

.ns-container.no-flex{
    flex-wrap: none;
}
.ns-container.member{
    margin-bottom: 40px;
}